<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-right8"></i>
    </a>
    Navigation
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->


  <!-- Sidebar content -->
  <div class="sidebar-content">

    <!-- User menu -->
    <!-- User menu -->
    <div class="sidebar-user">
      <div class="card-body media">
        <div class="mr-3">
          <% if current_user.avatar.url.present? %>
            <%= link_to image_tag(current_user.avatar.url, class: 'rounded-circle', width: "38px", height: "38px"), edit_user_registration_path %>
          <% else %>
            <%= link_to image_tag('placeholders/placeholder.jpg', class: 'rounded-circle', height: '38px', width: '38px'), edit_user_registration_path %>
          <% end %>

        </div>

        <div class="media-body">
          <div class="media-title font-weight-semibold"><%= current_user.firstname.to_s.upcase_first %> <%= current_user.lastname.to_s.upcase_first %></div>
          <div class="font-size-xs opacity-50">
            <%= current_user.email.to_s.downcase %>
          </div>
        </div>

        <div class="ml-3 align-self-center">
          <%= link_to edit_user_registration_path, class: "text-white" do %>
            <i class="icon-cog3"></i>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /user menu -->


    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">

        <!-- Main -->
        <li class="nav-item-header">
          <div class="text-uppercase font-size-xs line-height-xs">Configuration</div>
          <i class="icon-menu" title="Main"></i>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="icon-home4"></i>
            <span>
									Dashboard
									<span class="d-block font-weight-normal opacity-50">No active orders</span>
            </span>
          </a>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="#" class="nav-link"><i class="icon-copy"></i> <span>User & Security</span></a>

          <ul class="nav nav-group-sub" data-submenu-title="Layouts">
            <li class="nav-item"><a href="#" class="nav-link">User List</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Role</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
          </ul>
        </li>
        <!-- /main -->

        <!-- Layout -->
        <li class="nav-item-header">
          <div class="text-uppercase font-size-xs line-height-xs">Objects</div>
          <i class="icon-menu" title="Layout options"></i>
        </li>
        <li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
          <a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Objects List</span></a>

          <ul class="nav nav-group-sub" data-submenu-title="Page layouts">
            <li class="nav-item"><a href="#" class="nav-link">Fields</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Page layout</a></li>
          </ul>
        </li>
        <!-- /layout -->

      </ul>
    </div>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar content -->

</div>
<!-- /main sidebar -->